﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gift4Charity</title>    
    @Styles.Render("~/Content/AdminStyle")        
</head>
<body>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Admin Page</a>                
            </div>
            <div id="navbar" class="navbar-collapse collapse">                
                <ul class="nav navbar-nav navbar-right">
                    @if (@User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="@Url.Action("Manage", "Auth", new {username = User.Identity.Name, Area = ""})">
                                <i class="glyphicon glyphicon-user"></i> Welcome, @User.Identity.Name
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Home", new {Area = ""})">
                                <i class="glyphicon glyphicon-home"></i> Homepage
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Logout", "Auth", new {Area = ""})">
                                <i class="glyphicon glyphicon-log-out"></i> Sign out
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar content-box" style="display: block;">
                    <ul class="nav">
                        <!-- Main menu -->
                        <li>
                            <a href="@Url.Action("Index", "User")">
                                <i class="glyphicon glyphicon-user"></i>
                                Members
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Category")">
                                <i class="glyphicon glyphicon-folder-open"></i>
                                Categories / Subcategories
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Order")">
                                <i class="glyphicon glyphicon-shopping-cart"></i>
                                Orders
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Product")">
                                <i class="glyphicon glyphicon-list"></i>
                                Products
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div class="sidebar content-box" style="display: block;">
                    @RenderBody()
                </div>                    
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/AdminScript")
    @RenderSection("scripts", required: false)
</body>
</html>