﻿@model IEnumerable<eCommerce.Web.Models.OrderManageViewModel>

<table class="table table-bordered table-striped">
    <tr>
        <th>Username</th>
        <th>Purchasing Date</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>State</th>
        <th></th>
    </tr>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.User.UserName</td>
            <td>@order.CreatedDate.ToString()</td>
            <td>@order.Quantity</td>
            <td>$@order.Total</td>
            <td>@order.State</td>
            <td>
                <a href="@Url.Action("Detail", "Order", new {area = "Admin", orderId = order.Id})">Details</a> |
                <a data-id="@order.Id" class="delete_order" href="#">Delete</a>
            </td>
        </tr>
    }
</table>

@Html.Hidden("url_delete_order", Url.Action("DeleteOrder", "Order", new { Area = "Admin" }))    