﻿@using eCommerce.Ultility.Type
@model eCommerce.Web.Models.OrderManageViewModel
@{
    ViewBag.Title = "Detail";
}

<style>
    td {
        vertical-align: middle;
    }
</style>

@Html.Hidden("url_cancelOrder", Url.Action("CancelOrder", "Order"))
@Html.Hidden("url_approveOrder", Url.Action("ApproveOrder", "Order", new { Area = "Admin" }))

<h2>Order Detail</h2>
<hr />
<div class="row">
    <div class="col-md-4" style="margin-top:15px">
        <p>
            <label>Order Id:</label><span> @Model.Id</span>
        </p>
        <p id="order_state">
            @if (Model.State == OrderState.Pending)
            {
                <label>State:</label>
                <span class="label label-warning">@Model.State</span>
            }
            else if (Model.State == OrderState.Canceled)
            {
                <label>State:</label>
                <span class="label label-danger">@Model.State</span>
            }
            else
            {
                <label>State:</label>
                <span class="label label-primary">@Model.State</span>
            }
        </p>
        <p>
            <label>User:</label><span> @Model.User.UserName</span>
        </p>
        <p>
            <label>Customer's address:</label><span> @Model.User.Address</span>
        </p>
        <p>
            <label>Customer's email:</label><span> @Model.User.Email</span>
        </p>
        <p>
            <label>Customer's phone:</label><span> @Model.User.PhoneNumber</span>
        </p>
        <p>
            <label>Purchasing on:</label><span> @Model.CreatedDate.Date.ToString()</span>
        </p>
        <p>
            <label>Quantity:</label><span> @Model.OrderDetails.Count</span>
        </p>
        <p>
            <label>Total:</label><span> $@Model.Total</span>
        </p>
        <hr />
        @if (Model.State == OrderState.Pending)
        {
            <button id="btn_approve" data-id="@Model.Id" class="btn btn-primary">Approve</button>
            <button id="btn_cancel" data-id="@Model.Id" class="btn btn-danger">Cancel</button>
        }

    </div>
    <div class="col-md-8">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Product</th>
                <th></th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
            @foreach (var od in Model.OrderDetails)
            {
                var total = od.Product.Price * od.Quantity;
                <tr>
                    <td class="text-center">
                        @if (od.Product.RepresentImg != null)
                        {
                            <a href=""><img src="~/Images/Product/Represent/Small/@od.Product.RepresentImg" alt=""></a>
                        }
                        else
                        {
                            <a href=""><img src="~/Images/Product/Represent/Small/default.png" alt=""></a>
                        }
                    </td>
                    <td>@od.Product.Name</td>
                    <td>@od.Quantity</td>
                    <td>$@od.Product.Price</td>
                    <td>$@total</td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>$@Model.Total</strong></td>
            </tr>
        </table>
    </div>
</div>

@*Modal approve order confirm*@
<div class="modal fade" id="modalApproveOrder" role="dialog" style="z-index:99999">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Confirmation</strong></h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to approve this order?</p>
            </div>
            <div class="modal-footer">
                @*<a id="btnConfirmApprove" href="@Url.Action("ApproveOrder", new { orderId = Model.Id })" class="btn btn-danger">Yes</a>*@
                <button type="button" class="btn btn-danger" id="btnConfirmApprove">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><strong>Cancel</strong></button>
            </div>
        </div>
    </div>
</div>



@*Modal cancel order confirm*@
<div class="modal fade" id="modalCancelOrder" role="dialog" style="z-index:99999">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Confirmation</strong></h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to cancel this order?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnConfirmCancel">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><strong>Cancel</strong></button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/scripts/Admin/approve_order.js"></script>
    <script src="~/scripts/Admin/cancel_order.js"></script>
}