﻿@model PagedList.IPagedList<eCommerce.Web.Models.OrderManageViewModel>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
}

@using (Ajax.BeginForm("SearchByState", "Order", null, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "search",
    InsertionMode = InsertionMode.Replace
}, new { @class = "navbar-form navbar-right" }))
{
    @Html.DropDownList("Search", null, new { @class = "form-control", onchange = "$(this.form).submit();" })
}

@using (Ajax.BeginForm("SearchByUser", "Order", null, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "search",
    InsertionMode = InsertionMode.Replace
}, new { @class = "navbar-form navbar-right" }))
{
    @Html.TextBox("result", "", new { @class = "form-control", placeholder = "Search by username" })
    <input type="submit" value="Search" class="btn btn-default" />
}

<h2>Customer's Orders</h2>
<div id="search">
    <table class="table table-bordered table-striped">
        <tr>
            <th>Username</th>
            <th>Purchasing Date</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>State</th>
            <th></th>
        </tr>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.User.UserName</td>
                <td>@order.CreatedDate.ToString()</td>
                <td>@order.Quantity</td>
                <td>$@order.Total</td>
                <td>@order.State</td>
                <td>
                    <a href="@Url.Action("Detail", "Order", new {area = "Admin", orderId = order.Id})">Details</a> |
                    <a data-id="@order.Id" class="delete_order" href="#">Delete</a>
                </td>
            </tr>
        }
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
    PagedListRenderOptions.Classic)
</div>

@Html.Hidden("url_delete_order", Url.Action("DeleteOrder", "Order", new { Area = "Admin" }))
@*Modal delete order confirm*@
<div class="modal fade" id="modalDeleteOrder" role="dialog" style="z-index: 99999" data-id="">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Confirmation</strong></h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete this order?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnConfirmDelete">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><strong>Cancel</strong></button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/scripts/Admin/delete_order.js"></script>
}