﻿@model IEnumerable<eCommerce.Web.Models.CartItem>
@using HelperExtensionNameSpace
<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total" style="width: 150px">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody id="cart-table">
                    @if (Model != null)
                    {
                        foreach (var x in Model)
                        {
                            <tr id="@x.ItemId">
                                <td class="cart_product">
                                    @if (x.RepresentImg != null)
                                    {
                                        <a href="@Url.Action("Detail", "Product", new {@slug = x.Slug })"><img src="~/Images/Product/Represent/Small/@x.RepresentImg" alt=""></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Detail", "Product", new {@slug = x.Slug })"><img src="~/Images/Product/Represent/Small/default.png" alt=""></a>
                                    }
                                    
                                </td>
                                <td class="cart_description">
                                    <h4><a href="@Url.Action("Detail", "Product", new {@slug = x.Slug })">@x.Name</a></h4>
                                    <p>Web ID: @x.ItemId.ToString().Substring(0,8)</p>
                                </td>
                                <td class="cart_price">
                                    <p id="price_@x.ItemId">@x.Price</p>
                                </td>
                                <td id="cart_quantity_@x.ItemId" class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        @if (ViewBag.IsCheckout != null && !ViewBag.IsCheckout)
                                        {
                                            @Ajax.ActionLink("-", "UpdateCartItem", "Order", new { ItemId = x.ItemId, actionName = "decrease" }, null, new { @class = "cart_quantity_up", @style = "cursor:pointer", @onclick = "decreaseQuantity('" + x.ItemId + "')" })
                                        }

                                        
                                        <input id="cart_quantity_input_@x.ItemId" class="cart_quantity_input" type="text" name="quantity" value="@x.Quantity" autocomplete="off" size="2" disabled>

                                        @if (ViewBag.IsCheckout != null && !ViewBag.IsCheckout)
                                        {
                                            @Ajax.ActionLink("+", "UpdateCartItem", "Order", new { ItemId = x.ItemId, actionName = "increase" }, null, new { @class = "cart_quantity_up", @style = "cursor:pointer", @onclick = "increaseQuantity('" + x.ItemId + "')" })
                                        }
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p id="cart_total_price_@x.ItemId" class="cart_total_price">$@(x.Quantity * x.Price) </p>
                                </td>
                                <td class="cart_delete">
                                    @Ajax.RawActionLink("<i class='fa fa-times'></i>", "UpdateCartItem", "Order", new { ItemId = x.ItemId, actionName = "delete" }, null, new { @class = "cart_quantity_delete", @style = "cursor:pointer", @onclick = "deleteItem('" + x.ItemId + "')" })                                    
                                </td>
                            </tr>
                        }

                        
                    }

                </tbody>
         
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

