﻿@model IEnumerable<eCommerce.Web.Models.CartItem>

@{
    ViewBag.Title = "Your Cart";
}


@Html.Partial("_Cart", Model)

@if (Model != null && (int)Session["CartTotal"] != 0)
{
    <div class="container">
        <div class="col-sm-2">
            @Html.ActionLink("Checkout", "CheckoutPage", "Order", null, new { @class = "btn btn-default check_out" })
        </div>

        <div class="col-sm-5 col-sm-offset-5 clearfix">
            <div class="checkout-information text-left">
                <span>
                    <span>Cart Total: </span> <span id="grand_total" onload="calculateGrandTotal()"></span>
                </span>

            </div>
        </div>
    </div>

    

}
else
{
    <div class="checkout-information">
        <span>
            <a href="@Url.Action("Index", "Home")"><span id="empty-cart-message">Your Cart is Empty </span></a>
            
        </span>
    </div>
}
