﻿@model eCommerce.Web.Models.UserCheckoutModel
@{
    ViewBag.Title = "Checkout";
}

<div class="shopper-informations">
    <div class="row">
        <div class="col-sm-5">
            <div class="checkout-information login-form">
                <!--/product-information-->
                <span>
                    <span >Shopper Information</span>
                </span>
                <p><b>Username:</b> @Model.UserName</p>
                <p><b>Email:</b> @Model.Email</p>
                @using (Ajax.BeginForm("BillingInfo", "Order", null, new AjaxOptions { HttpMethod = "POST" }))
                {
                    @Html.AntiForgeryToken()

                    <p><b>Address:</b> @Html.TextAreaFor(model => model.Address)</p>                    
                    <p><b>Phone:</b> @Html.EditorFor(model => model.PhoneNumber)</p>
                    <div class="text-success" id="billing_confirm">The billing info was updated successfully.</div>
                    <button type="submit" value="Change" class="btn btn-default" id="show">Change</button>
                }
            </div><!--/product-information-->
        </div>
    </div>
</div>
@if (Session["Cart"] == null || (int)Session["CartTotal"] == 0)
{
    <div class="checkout-information">
        <span><span>Your Cart is Empty...</span></span>
    </div>
    
}
else
{

    @Html.Partial("_Cart", Session["Cart"])
    <div class="container">
        <div class="col-sm-2">
            @Html.ActionLink("Proceed", "ProceedOrder", null, new { @class = "btn btn-default check_out" })
        </div>
        
        <div class="col-sm-5 col-sm-offset-5 clearfix">
            <div class="checkout-information text-left">
                <span>
                    <span>Cart Total: </span> <span id="grand_total" onload="calculateGrandTotal()"></span>
                </span>

            </div>
        </div>
    </div>

}


