﻿@{
    ViewBag.Title = "Confirmation";
}

<h1 id="title">Your order is now being processed</h1>
<br/>
<h3>An email is sent to you to confirm your checkout orders.</h3>
<h3>When your order is processed, an email will be sent to notify you.</h3>
<br />
<a class="btn btn-default check_out" href="@Url.Action("Index", "Home")">Continue shopping</a>

