﻿@model IEnumerable<eCommerce.Web.Models.OrderManageViewModel>
@{
    ViewBag.Title = "Orders management";
}

@Html.Hidden("cancel_order_url",Url.Action("CancelOrder"))

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Orders Management</li>
            </ol>
        </div>
        <div class="cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td>Order ID</td>
                        <td>Purchasing On</td>
                        <td>Quantity</td>
                        <td>Total</td>
                        <td>State</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td>
                                <h5><a href="@Url.Action("OrderDetail","Order",new {orderId=order.Id })">@order.Id</a></h5>
                            </td>
                            <td>
                                <h5>@order.CreatedDate.ToString("d")</h5>
                            </td>
                            <td>
                                <h5>@order.Quantity</h5>
                            </td>

                            <td class="cart_total">
                                <h5 class="cart_total_price">$@order.Total</h5>
                            </td>

                            <td class="cart_quantity">
                                <h5 class="state_result">@order.State</h5>
                            </td>

                            @if (order.State == 0)
                            {
                                <td class="cart_delete">
                                    <h4><a class="cart_quantity_delete" href="#" data-id="@order.Id"><i class="fa fa-times"></i></a></h4>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->
@*Modal delete comment*@
<div class="modal fade" id="modalCancelOrder" role="dialog" style="z-index:99999">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Confirmation</strong></h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to cancel this order?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnConfirm">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><strong>Cancel</strong></button>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
        <script src="~/scripts/cancel_order.js"></script>
    }
