﻿@model IEnumerable<eCommerce.Web.Models.OrderDetailViewModel>
@{
    ViewBag.Title = "OrderDetail";
}

<section id="cart_items">
    <div class="container">
        <div class="cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Product</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var od in Model)
                    {
                        <tr>
                            <td class="cart_product">
                                @if (od.Product.RepresentImg != null)
                                {
                                    <a href=""><img src="~/Images/Product/Represent/Small/@od.Product.RepresentImg" alt=""></a>
                                }
                                else
                                {
                                    <a href=""><img src="~/Images/Product/Represent/Small/default.png" alt=""></a>
                                }
                            </td>
                            <td class="cart_description">
                                <h4><a href="">@od.Product.Name</a></h4>
                            </td>
                            <td class="cart_price">
                                <h4>$@od.Product.Price</h4>
                            </td>
                            <td class="cart_quantity">
                                <h4>@od.Quantity</h4>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
