﻿@model eCommerce.Web.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<div class="login-form">    
    @using (Html.BeginForm("Login", "Auth", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        <h2>Login</h2>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new {@class = "text-danger"})

        @Html.EditorFor(model => model.UsernameEmail, new {htmlAttributes = new {placeholder = "Username/Email"}})
        @Html.EditorFor(model => model.Password, new {htmlAttributes = new {placeholder = "Password"}})

        <button type="submit" class="btn btn-default">Login</button>

        <br/>
        <p>Don't have an account yet? @Html.ActionLink("Create one!", "Register", "Auth")</p>
    }    
</div>