﻿@model eCommerce.Web.Models.ManageUserAndOrder
@{
    ViewBag.Title = "Manage";
}
@Html.Hidden("cancel_order_url",Url.Action("CancelOrder","Order"))
<div class="container">
    <div class="login-form col-lg-4">
        @using (Html.BeginForm("Manage", "Auth", new { name = Model.RegisterModel.UserName, email = Model.RegisterModel.Email }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <h2 style="color: #FE980F;">Account info</h2>
            @Html.HiddenFor(model => model.RegisterModel.Id)
            @Html.HiddenFor(model => model.RegisterModel.RoleId)

            @Html.ValidationSummary("", new { @class = "text-danger" })

            @Html.LabelFor(model => model.RegisterModel.UserName)
            @Html.EditorFor(model => model.RegisterModel.UserName)

            @Html.LabelFor(model => model.RegisterModel.Email)
            @Html.EditorFor(model => model.RegisterModel.Email)

            @Html.LabelFor(model => model.RegisterModel.Address)
            @Html.EditorFor(model => model.RegisterModel.Address)

            @Html.LabelFor(model => model.RegisterModel.PhoneNumber)
            @Html.EditorFor(model => model.RegisterModel.PhoneNumber)

            @Html.LabelFor(model => model.RegisterModel.Password)
            @Html.PasswordFor(model => model.RegisterModel.Password)

            @Html.LabelFor(model => model.RegisterModel.RetypePassword)
            @Html.PasswordFor(model => model.RegisterModel.RetypePassword)

            <button type="submit" class="btn btn-default pull-left">Save</button>
        }
    </div>
    @if (Model.OrderManageViewModel != null && Model.OrderManageViewModel.Count != 0)
    {
        <div class=" col-lg-8 login-form">
            <h2 style="color: #FE980F;">Recent Orders</h2>
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td>Order ID</td>
                        <td>Purchasing On</td>
                        <td>Quantity</td>
                        <td>Total</td>
                        <td>State</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.OrderManageViewModel)
                    {
                        <tr>
                            <td>
                                <h5><a href="@Url.Action("OrderDetail","Order",new {orderId=order.Id })">@order.Id</a></h5>
                            </td>
                            <td>
                                <h5>@order.CreatedDate.ToString("d")</h5>
                            </td>
                            <td>
                                <h5>@order.Quantity</h5>
                            </td>

                            <td class="cart_total">
                                <h5 class="cart_total_price">$@order.Total</h5>
                            </td>

                            <td class="cart_quantity">
                                <h5 class="state_result">@order.State</h5>
                            </td>

                            @if (order.State == 0)
                            {
                                <td class="cart_delete">
                                    <h4><a class="cart_quantity_delete" href="#" data-id="@order.Id"><i class="fa fa-times"></i></a></h4>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    <div class="modal fade" id="modalCancelOrder" role="dialog" style="z-index:99999">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>Confirmation</strong></h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure to cancel this order?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnConfirm">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><strong>Cancel</strong></button>
                </div>
            </div>
        </div>
    </div>

    @section scripts
    {
        <script src="~/scripts/cancel_order.js"></script>
    }
    }


</div>
