﻿@model eCommerce.Web.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<div class="login-form">
    @using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        <h2>Register</h2>
        <p>* : Required</p>
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { placeholder = "Username (spaces will be removed) *" } })

        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email *" } })

        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { placeholder = "Address *" } })

        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { placeholder = "Phone Number *" } })

        @Html.PasswordFor(model => model.Password, new { placeholder = "Password *" })

        @Html.PasswordFor(model => model.RetypePassword, new { placeholder = "Retype password *" })

        <button type="submit" class="btn btn-default">Register</button>
    }
</div>