﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Value != null)
{
    <h1>@ViewBag.Value</h1>
}
<div class="jumbotron">
    <h2>Welcome to Gift4Charity admin page!</h2>
</div>



