﻿@model IEnumerable<eCommerce.Web.Models.CategoryModel>
<div class="panel-group category-products" id="accordian">
    <!--category-productsr-->
    @foreach (var cat in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="category-collapse collapsed" data-toggle="collapse" data-parent="#accordian" data-id="@cat.Id" href="#@cat.Id">
                        <span class="badge pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                        @cat.Name
                    </a>
                </h4>
            </div>
            <div id="@cat.Id" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        @foreach (var subcat in cat.SubCategories)
                        {
                            <li><a href="~/product/category/@subcat.UrlSlug/price_desc">@subcat.Name </a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div><!--/category-products-->
