﻿@model eCommerce.Web.Models.ProductModel 
@using HelperExtensionNameSpace
<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                @if (@Model.RepresentImg != null)
                {
                    <img src="~/Images/Product/Represent/Large/@Model.RepresentImg" alt="" />
                }
                else
                {
                    <img src="~/Images/Product/Represent/Large/default.png" alt="" />
                }
               
                <h2>$@Model.Price</h2>
                <p title="@Model.Name"><strong>@Model.Name</strong></p>
                <p>
                    @if (Model.AvgRate == 0)
                    {
                        <i class="fa fa-star" style="color:#FE980F"></i>
                    }
                    else
                    {
                        for (int i = 0; i < Model.AvgRate; i++)
                        {
                            <i class="fa fa-star" style="color:#FE980F"></i>
                        }
                    }
                </p>
                <div id="message-product-id-@Model.Id"></div>
                <div id="@Model.Id">

                    
                    @Ajax.RawActionLink("<i class='fa fa-shopping-cart'></i>Add to Cart", "AddToCart", "Order", new { productId = @Model.Id, name = @Model.Name, Price = @Model.Price, Slug = @Model.UrlSlug, RepresentImg = @Model.RepresentImg, Stock = @Model.Quantity }, new AjaxOptions
                   {
                       UpdateTargetId = "message-product-id-" + Model.Id ,
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "POST"
                   }, new { @class = "btn btn-default add-to-cart", @onclick = "updateProductCount()" })
                    <a class="btn btn-default add-to-cart" href="@Url.Action("Detail", "Product", new {slug = @Model.UrlSlug })"><i class='glyphicon glyphicon-tree-conifer'></i>Details</a>
                </div>
            </div>
            
        </div>
        
    </div>
</div>
