﻿@model eCommerce.Web.Models.ProductViewModel
@using HelperExtensionNameSpace
<div class="col-sm-3">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                @* Image *@
                <img src="http://placehold.it/208x183" alt="" />
                <h2>$0.5 @* Model.Price *@</h2>
                <p>Rag @* Model.Name *@</p>
                <div id="message-product-id-small"></div>
                <div id="Test" @*Should be product ID*@>
                    @Ajax.RawActionLink("<i class='fa fa-shopping-cart'></i>Add to Cart", "AddToCart", "Order", new { productId = @Model.Id, Name = @Model.Name, Price = @Model.Price, Slug = @Model.UrlSlug, RepresentImg = @Model.RepresentImg }, new AjaxOptions
                   {
                       UpdateTargetId = "message-product-id-small",
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "POST"
                   }, new { @class = "btn btn-default add-to-cart", @onclick = "updateProductCount()" })
                    <a class="btn btn-default add-to-cart" href="@Url.Action("Detail", "Product", new {slug = @Model.UrlSlug })"><i class='glyphicon glyphicon-tree-conifer'></i>Details</a>
                </div>
            </div>

        </div>
    </div>
</div>