﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gift4Charity</title>
    <link rel="shortcut icon" href="/Images/favicon.ico" />
    @Styles.Render("~/Content/css")
    @RenderSection("header", required:false)
</head>
<body>

    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills logo">
                                <a class="navbar-brand" style="font-family:Great-Vibes; font-size:25px" href="@Url.Action("Index","Home")">Gifts4Charity</a>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="search_box pull-right">
                            @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                            {
                                <input type="text" name="key" placeholder="Search Product..." />
                                <button type="submit" class="inputbutton">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            }
                        </div>
                    </div>
                </div>

            </div>

        </div><!--/header_top-->

    


        <div class="header-middle">
            @if (!String.IsNullOrEmpty((string)TempData["Message"]))
            {
                <div class="alert alert-warning system-message">
                    @Html.Raw((string)TempData["Message"])
                    @*@((string)TempData["Message"])*@
                </div>
            }
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        
                    </div>
                    <div class="col-sm-8">                        
                        <div class="mainmenu mainmenushop pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="@Url.Action("Create", "Product")"><i class="glyphicon glyphicon-plus"></i> Add Product</a></li>
                                @if (@Session["CartTotal"] == null)
                                {
                                    Session["CartTotal"] = 0;
                                }
                                <li><a href="@Url.Action("CartPage", "Order")"><i class="fa fa-shopping-cart"></i> Cart <span id="total_products" class="badge">@Session["CartTotal"]</span></a></li>
                                <li><a href="@Url.Action("CheckoutPage", "Order")"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                                
                                @if (@User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a href="#" data-toggle="dropdown" id="dropdownMenu1" aria-haspopup="true" aria-expanded="true">
                                            Welcome, @User.Identity.Name!
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="sub-menu" aria-labelledby="dropdownMenu1">
                                            @if (@User.IsInRole("Admin"))
                                            {
                                                <li><a href="@Url.Action("Index", "Home", new {Area = "Admin"})"><i class="fa fa-briefcase"></i> Admin page</a></li>
                                            }

                                            <li><a href="@Url.Action("Manage", "Auth", new {username = User.Identity.Name})"><i class="fa fa-user"></i> Account info</a></li>
                                            <li><a href="@Url.Action("Logout", "Auth")"><i class="fa fa-sign-out"></i> Sign out</a></li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Login", "Auth")"><i class="fa fa-lock"></i> Login</a></li>
                                    <li><a href="@Url.Action("Register", "Auth")"><i class="fa fa-plus"></i> Register</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->

    <div class="container body-content">
        @RenderBody()
        <hr />
      
    </div>
    <footer id="footer">
        <!--Footer-->

        <div class="footer-bottom">
            <div class="container">
                <div class="row col-sm-4 col-sm-offset-4">
                    <p class="pull-left">Copyright © @DateTime.Now.Year Harvey Nash. All rights reserved.</p>
                </div>
            </div>
        </div>

    </footer><!--/Footer-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/web")
    @RenderSection("scripts", required: false)

</body>
</html>