﻿@{
    ViewBag.Title = "ActionDenied";
}

<div class="jumbotron">
    <h1>Unable to delete the category.</h1>
    <h2>You must remove all of its related subcategories to proceed.</h2>
    <br/>
    <h4><a href="@Url.Action("Index")">&lt; Back to category</a></h4>
</div>

