﻿@model eCommerce.Web.Areas.Admin.Models.CategoryModel
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>
@using (Html.BeginForm("Create", "Category", null, FormMethod.Post, new { @class = "form-horizontal" }))
{    
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name, new {@class = "col-md-2 control-label"})
        <div class="col-md-3">
            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success"/>
            <p class="text-success">Subcategory "Default" will be created for this category</p>
        </div>
    </div>
}

