﻿@model PagedList.IPagedList<eCommerce.Domain.DTO.CategoryDTO>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Add Category", "Create", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Add Subcategory", "Create", "Subcategory", null, new { @class = "btn btn-primary" })

<h2>List of categories</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

    @foreach (var category in Model)
    {
        <tr>
            <td>@Html.ActionLink(category.Name, "Index", "Subcategory", new {id = category.Id}, null)</td>
            <td>@Html.ActionLink("Edit", "Edit", new {id = category.Id}) |
                <a class="delete-cate text-danger" href="#" data-id="@category.Id">Delete</a>
            </td>
        </tr>
    }
</table>

@Html.Hidden("url", Url.Action("Delete"))
@*Modal delete category confirm*@
<div class="modal fade" id="modalDeleteCategory" role="dialog" style="z-index: 99999" data-id="">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Confirmation</strong></h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete this category? This can't be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnConfirmDelete">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><strong>Cancel</strong></button>
            </div>
        </div>
    </div>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
    PagedListRenderOptions.Classic)

@section scripts {
    <script src="~/scripts/Admin/delete_category.js"></script>
}
