﻿@using eCommerce.Ultility.Type
@model IEnumerable<eCommerce.Web.Models.ProductModel>

<table class="table table-bordered table-striped">
    <col width="200" />
    <col />
    <col />
    <col width="200" />
    <col />
    <col width="165" />
    <tr>
        <th>
            Image
        </th>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Create date
        </th>
        <th>
            Description
        </th>
        <th>
            Status
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var p in Model)
    {
        <tr>
            <td>
                @if (p.RepresentImg != null)
                {
                    <img src="@Url.Content("~/Images/Product/Represent/Small/" + p.RepresentImg)" />
                }
                else
                {
                    <img src="@Url.Content("~/Images/Product/Represent/Small/default.png" + p.RepresentImg)" />
                }
            </td>
            <td>
                @Html.DisplayFor(model => p.Name)
            </td>
            <td>
                @Html.DisplayFor(model => p.Price)
            </td>
            <td>
                @p.CreatedDate.ToString()
            </td>
            <td>
                @Html.DisplayFor(model => p.Description)
            </td>
            <td>
                @switch (p.Status)
                {
                    case ProductState.Pending:
                        @Html.ActionLink("Approve", "Approve", new { area = "Admin", productId = p.Id }, new { data_id = p.Id, Class = "btn btn-primary approve-product" })
                        break;
                    case ProductState.Approved:
                        <h4><p class="text-success">Online</p></h4>
                        break;
                    default:
                        break;
                }
            </td>
            <td>
                @Html.ActionLink("Detail", "Detail", new { area = "Admin", id = p.Id })
                <br />
                @Html.ActionLink("Delete", "Delete", new { area = "Admin", productId = p.Id }, new { data_id = p.Id, Class = "delete-product text-danger" })
            </td>
        </tr>
    }
</table>