﻿@model eCommerce.Web.Models.ProductDetailModel
@using eCommerce.Ultility.Type
@{
    ViewBag.Title = "Detail";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <div>
        <h4>Product Detail</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RepresentImg)
            </dt>

            <dd>
                @if (Model.RepresentImg != null)
                {
                    <img src="@Url.Content("~/Images/Product/Represent/Small/" + Model.RepresentImg)"/>
                }
                else
                {
                    <img src="@Url.Content("~/Images/Product/Represent/Small/default.png")" />
                }
            </dd>
            <br/>
            <dt>
                Slider images
            </dt>

            <dd>
                @if (Model.ProductPhotos.Count != 0)
                {
                    foreach (var item in Model.ProductPhotos)
                    {
                        <img src="@Url.Content("~/Images/Product/Slide/Thumbnail/" + item.Name)" />
                    }
                }
                else
                {
                    <img src="@Url.Content("~/Images/Product/Slide/Thumbnail/default.png")" />
                }
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Model.CreatedDate.ToString("G")
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.AvgRate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AvgRate)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>            
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @switch (Model.Status)
                {
                    case ProductState.Pending:
                        @: Waiting for approvement.                         
                        break;
                    case ProductState.Approved:
                        @: Online.
                        break;
                    default:
                        break;
                }
            </dd>    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index", new { page = ViewBag.Page }) |
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id})
    </p>
</body>
</html>
