﻿@model PagedList.IPagedList<eCommerce.Web.Models.ProductModel>
@using PagedList.Mvc
@using eCommerce.Ultility.Type
@{
    ViewBag.Title = "Index";
}

@using (Ajax.BeginForm("SearchByState", "Product", new { Area = "Admin" }, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "search",
    InsertionMode = InsertionMode.Replace
}, new { @class = "navbar-form navbar-right" }))
{
    @Html.DropDownList("Search", null, new { @class = "form-control", onchange = "$(this.form).submit();" })    
}

@using (Ajax.BeginForm("SearchByName", "Product", new { Area = "Admin" }, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "search",
    InsertionMode = InsertionMode.Replace
}, new { @class = "navbar-form navbar-right" }))
{
    @Html.TextBox("result", null, new { @class="form-control", placeholder="Search by name" })
    <input type="submit" value="Search" class="btn btn-default"/>
}

<h2>List of products</h2>

<div id="search">
    <table class="table table-bordered table-striped">
        <col width="200"/>
        <col/>
        <col/>
        <col width="200"/>
        <col/>
        <col width="165"/>
        <tr>
            <th>
                Image
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Create date
            </th>
            <th>
                Description
            </th>
            <th>
                Status
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var p in Model)
        {
            <tr>
                <td>
                    @if (p.RepresentImg != null)
                    {
                        <img src="@Url.Content("~/Images/Product/Represent/Small/" + p.RepresentImg)"/>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Images/Product/Represent/Small/default.png" + p.RepresentImg)"/>
                    }
                </td>
                <td>
                    @Html.DisplayFor(model => p.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => p.Price)
                </td>
                <td>
                    @p.CreatedDate.ToString()
                </td>
                <td>
                    @Html.DisplayFor(model => p.Description)
                </td>
                <td>
                    @switch (p.Status)
                    {
                        case ProductState.Pending:
                            @Html.ActionLink("Approve", "Approve", new {area = "Admin", productId = p.Id}, new {data_id = p.Id, Class = "btn btn-primary approve-product"})
                            break;
                        case ProductState.Approved:
                            <h4>
                                <p class="text-success">Online</p></h4>
                            break;
                        default:
                            break;
                    }
                </td>
                <td>
                    @Html.ActionLink("Detail", "Detail", new {area = "Admin", id = p.Id, page = ViewBag.Page})
                    <br/>
                    @Html.ActionLink("Delete", "Delete", new { area = "Admin", productId = p.Id }, new { data_id = p.Id, Class = "delete-product text-danger" })                    
                </td>
            </tr>
        }
    </table>
    <div style="text-align: center">
        @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
                PagedListRenderOptions.Classic)
    </div>
</div>

@*Modal confirm delete product*@
<div class="modal fade" id="modalDeleteProduct" role="dialog" style="z-index:99999" data-id="">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Confirmation</strong></h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete this product?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnConfirmDelete">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><strong>Cancel</strong></button>
            </div>
        </div>
    </div>
</div>

@*Modal confirm approve product*@
<div class="modal fade" id="modalApproveProduct" role="dialog" style="z-index:99999" data-id="">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Confirmation</strong></h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to approve this product?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnConfirmApprove">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><strong>Cancel</strong></button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/AdminProductIndex")        
}
