﻿@model eCommerce.Web.Models.ProductReviewModel

<ul>
    <li><a><i class="fa fa-user"></i>@Model.UserName</a></li>
    <li><a><i class="fa fa-clock-o"></i>@Model.CreatedDate.ToString("t")</a></li>
    <li><a><i class="fa fa-calendar-o"></i>@Model.CreatedDate.ToString("d")</a></li>
    <li>
        <a>
            @for (int i = 0; i < Model.Rate; i++)
            {
                <i class="fa fa-star"></i>
            }
        </a>
    </li>
</ul>
<p>@Html.Raw(Model.ReviewContent.Replace("\n", "<br />"))</p>

