﻿@model eCommerce.Web.Models.ProductDetailViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header
{
    <link href="@Url.Content("~/Content/rating.css")" rel="stylesheet" />
}

<div class="col-sm-3">
    <div class="left-sidebar" id="left-bar">
        <h2>Category</h2>
        @Html.Partial("_CategoryPartial", Model.Categories)
    </div>
</div>
<div class="col-sm-9 padding-right">
    <div class="product-details">
        <!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                @if (Model.ProductDetail.ProductPhotos.Count != 0)
                {
                    <img src="@Url.Content("~/Images/Product/Slide/Main/" + Model.ProductDetail.ProductPhotos[0].Name)" alt="" />
                }
                else
                {
                    <img src="@Url.Content("~/Images/Product/Slide/Main/default.png")" alt="" />
                }
            </div>
            <div id="similar-product" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="item active">
                            @if (Model.ProductDetail.ProductPhotos.Count != 0)
                            {
                                foreach (var i in Model.ProductDetail.ProductPhotos)
                                {
                                    <a name="@Url.Content("~/Images/Product/Slide/Main/" + i.Name)">
                                        <img src="@Url.Content("~/Images/Product/Slide/Thumbnail/" + i.Name)" style="cursor: pointer">
                                    </a>
                                }

                            }
                            else
                            {
                                <img src="@Url.Content("~/Images/Product/Slide/Thumbnail/default.png")" style="cursor: pointer">
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-7">
            <div class="product-information">
                <!--/product-information-->
                <h2>@Html.DisplayFor(model => model.ProductDetail.Name)</h2>
                <p>
                    @for (int i = 0; i < Model.ProductDetail.AvgRate; i++)
                    {
                        <i class="fa fa-star" style="color:#FE980F"></i>
                    }
                </p>
                <span>
                    <span>US $@Html.DisplayFor(model => model.ProductDetail.Price)</span>
                    @using (Html.BeginForm("AddToCartInDetailPage", "Order", new { productId = Model.ProductDetail.Id }, FormMethod.Post))
                    {
                        <label>Quantity:</label>
                        <input name="Quantity" id="input_@Model.ProductDetail.Id" type="number" value="1" required min="1" max="@Model.ProductDetail.Quantity" onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
                        <button type="submit" value="Create" class="btn btn-fefault cart">
                            <i class="fa fa-shopping-cart"></i>
                            Add to cart
                        </button>
                    }

                </span>
                <p><b>In stock:</b> @Html.DisplayFor(model => model.ProductDetail.Quantity)</p>
                <p><b>Category:</b> @Html.DisplayFor(model => model.ProductDetail.CategoryName)</p>
                <p><b>Sub-category:</b> @Html.DisplayFor(model => model.ProductDetail.SubCategoryName)</p>
            </div><!--/product-information-->
        </div>
    </div><!--/product-details-->

    <div class="category-tab shop-details-tab">
        <!--category-tab-->
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                <li><a href="#reviews" data-toggle="tab">Reviews (<span id="review-count">@Model.ProductDetail.ProductReviews.Count()</span>)</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade" id="reviews">
                <div class="col-sm-12">
                    <p>
                        <b>Write Your Review</b>
                    </p>
                    @using (Ajax.BeginForm("AddComment", "Product", new AjaxOptions
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "Comment",
                        InsertionMode = InsertionMode.InsertBefore,
                        OnSuccess = "ClearForm();"
                    }))
                    {
                        @Html.HiddenFor(model => model.ProductDetail.Id, new { Name = "ProductId" })
                        @Html.TextAreaFor(model => model.ReviewContent)
                        <div>
                            @Html.ValidationMessageFor(model => model.ReviewContent, "", new { @class = "text-danger" })
                        </div>
                        <span class="star-cb-group">                            
                            <input type="radio" id="rating-5" name="rate" value="5" /><label for="rating-5">5</label>
                            <input type="radio" id="rating-4" name="rate" value="4" /><label for="rating-4">4</label>
                            <input type="radio" id="rating-3" name="rate" value="3" /><label for="rating-3">3</label>
                            <input type="radio" id="rating-2" name="rate" value="2" /><label for="rating-2">2</label>
                            <input type="radio" id="rating-1" name="rate" value="1" checked="checked" /><label for="rating-1">1</label>
                            <input type="radio" id="rating-0" name="rate" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
                        </span>
                        <br />
                        <button type="submit" class="btn btn-default">Comment</button>
                    }
                    <div id="Comment">
                        @foreach (var r in Model.ProductDetail.ProductReviews)
                        {
                            Html.RenderPartial("_Comment", r);
                        }
                    </div>
                </div>
            </div>        
            <div class="tab-pane fade active in" id="description">
                <div class="col-sm-12">
                    @Html.DisplayFor(model => model.ProductDetail.Description)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/rating.js")"></script>
    @Scripts.Render("~/bundles/product_detail")
    @Scripts.Render("~/bundles/jqueryval")

    @if (!Request.Browser.IsMobileDevice)
    {
        <script>
            $(document).ready(function () {
                var nav = $("#left-bar");
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 0 && $(this).scrollTop() < $(document).height() - 450) {
                        nav.css("padding-top", "");
                        var scrollTop = $(window).scrollTop(),
                            elementOffset = nav.offset().top,
                            distance = -elementOffset + scrollTop + 50;

                        nav.css("padding-top", distance);
                    } else {
                        nav.css("padding-top", $(document).height - 450);
                    }
                });
                $(".category-collapse").click(function () {
                    if ($('#1').hasClass('collapsing') || $('#2').hasClass('collapsing') || $('#3').hasClass('collapsing') || $('#4').hasClass('collapsing') || $('#5').hasClass('collapsing') || $('#6').hasClass('collapsing')) {
                        return;
                    }
                    var element = $(this).children('span').children('i');
                    var test = $('[class="glyphicon glyphicon-minus"]')
                    if (element.hasClass('glyphicon-minus'))
                        element.removeClass().addClass("glyphicon glyphicon-plus");
                    else {
                        test.removeClass().addClass("glyphicon glyphicon-plus");
                        element.removeClass().addClass("glyphicon glyphicon-minus");
                    }
                });
            });
        </script>
    }


}
