﻿@model eCommerce.Web.Models.ProductViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
}
@section Scripts{
<script>
    $(document).ready(function () {
        var nav = $("#left-bar");
        $(window).scroll(function () {
            if ($(this).scrollTop() > 10 && $(this).scrollTop() < $(document).height() - 450) {
                nav.css("padding-top", "");
                var scrollTop = $(window).scrollTop(),
                    elementOffset = nav.offset().top,
                    distance = -elementOffset + scrollTop + 50;

                nav.css("padding-top", distance);
            } else {
                nav.css("padding-top", (document).height() - 450);

            }
        });

    });
</script>
<script type="text/javascript">

    $(".pagesizelist").change(function (event) {
        $("#hidcategoryId").val($("#CategoryId").val());
        var form = $(event.target).parents("form");
        form.submit();
    });
    $(".category-collapse").click(function () {
        var element = $(this).children('span').children('i');
        if (element.hasClass('glyphicon-minus'))
            element.removeClass().addClass("glyphicon glyphicon-plus");
        else
            element.removeClass().addClass("glyphicon glyphicon-minus");
    });
</script>

}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar" id="left-bar">
                    <h2>Category</h2>
                    @Html.Partial("_CategoryPartial",Model.Categories)

                    <div class="brands_products">
                        <!--brands_products-->
                        <h2>Order by</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                @if (ViewBag.SortBy == "price_asc")
                                {
                                    <li><strong><a href="@Url.Action("Index", "Product", new {sortOrder = "price_desc",categoryFilter=ViewBag.CategoryFilter })"> <span class="badge pull-right"><i class="glyphicon glyphicon-arrow-up"></i></span>Price</a></strong></li>
                                    <li><a href="@Url.Action("Index", "Product", new {sortOrder = "name_desc",categoryFilter=ViewBag.CategoryFilter })">Name (A-Z)</a></li>
                                    <li><a href="@Url.Action("Index","Product",new {sortOrder = "arrival_desc" })">Arrival</a></li>
                                }
                                else if (ViewBag.SortBy == "name_asc")
                                {
                                    <li><a href="@Url.Action("Index", "Product", new {sortOrder = "price_desc",categoryFilter=ViewBag.CategoryFilter })">Price</a></li>
                                    <li><strong><a href="@Url.Action("Index", "Product", new {sortOrder = "name_desc",categoryFilter=ViewBag.CategoryFilter })"> <span class="badge pull-right"><i class="glyphicon glyphicon-arrow-up"></i></span>Name (A-Z)</a></strong></li>
                                    <li><a href="@Url.Action("Index", "Product", new { sortOrder = "arrival_desc", categoryFilter = ViewBag.CategoryFilter })">Arrival</a></li>
                                }
                                else if (ViewBag.SortBy == "name_desc")
                                {
                                    <li><a href="@Url.Action("Index", "Product", new {sortOrder = "price_desc",categoryFilter=ViewBag.CategoryFilter })">Price</a></li>
                                    <li><strong><a href="@Url.Action("Index", "Product", new {sortOrder = "name_asc",categoryFilter=ViewBag.CategoryFilter })"> <span class="badge pull-right"><i class="glyphicon glyphicon-arrow-down"></i></span>Name (Z-A)</a></strong></li>
                                    <li><a href="@Url.Action("Index", "Product", new { sortOrder = "arrival_desc", categoryFilter = ViewBag.CategoryFilter })">Arrival</a></li>
                                }
                                else if (ViewBag.SortBy == "arrival_asc")
                                {
                                    <li><a href="@Url.Action("Index","Product",new {sortOrder = "price_desc",categoryFilter=ViewBag.CategoryFilter  })">Price</a></li>
                                    <li><a href="@Url.Action("Index","Product",new {sortOrder = "name_desc",categoryFilter=ViewBag.CategoryFilter  })">Name (Z-A)</a></li>
                                    <li><strong><a href="@Url.Action("Index", "Product", new { sortOrder = "arrival_desc", categoryFilter = ViewBag.CategoryFilter })"> <span class="badge pull-right"><i class="glyphicon glyphicon-arrow-up"></i></span>Arrival</a></strong></li>
                                }
                                else if (ViewBag.SortBy == "arrival_desc")
                                {
                                    <li><a href="@Url.Action("Index","Product",new {sortOrder = "price_desc",categoryFilter=ViewBag.CategoryFilter  })">Price</a></li>
                                    <li><a href="@Url.Action("Index","Product",new {sortOrder = "name_desc" ,categoryFilter=ViewBag.CategoryFilter })">Name (Z-A)</a></li>
                                    <li><strong><a href="@Url.Action("Index", "Product", new { sortOrder = "arrival_asc", categoryFilter = ViewBag.CategoryFilter })"> <span class="badge pull-right"><i class="glyphicon glyphicon-arrow-down"></i></span>Arrival</a></strong></li>
                                }
                                else
                                {
                                    <li><strong><a href="@Url.Action("Index", "Product", new {sortOrder = "price_asc",categoryFilter=ViewBag.CategoryFilter })"> <span class="badge pull-right"><i class="glyphicon glyphicon-arrow-down"></i></span>Price</a></strong></li>
                                    <li><a href="@Url.Action("Index", "Product", new {sortOrder = "name_desc",categoryFilter=ViewBag.CategoryFilter })">Name (A-Z)</a></li>
                                    <li><a href="@Url.Action("Index", "Product", new { sortOrder = "arrival_desc", categoryFilter = ViewBag.CategoryFilter })">Arrival</a></li>
                                }
                            </ul>
                        </div>
                    </div><!--/brands_products-->


                </div>
            </div>

            @if (Model.Products == null || Model.Products.Count == 0)
            {
                <div class="product-information">
                    <span><span>There appears to be nothing here...</span></span>
                </div>
            }
            else
            {
                <div class="col-sm-9 padding-right">
                    <div class="features_items">

                        <!--features_items-->
                        <h2 class="title text-center">@ViewBag.CategoryName</h2>                        
                        @foreach (var product in Model.Products)
                        {
                            @Html.Partial("_Item", product)
                        }
                        <div class="container " style="width: 100%">
                            <div class="col-sm-9">
                                @Html.PagedListPager(Model.Products,
                                        page => Url.Action("Index",
                                                        new { page, sortOrder = ViewBag.SortBy, categoryFilter = ViewBag.CategoryFilter, pagesize = ViewBag.Pagesize }),
                                        PagedListRenderOptions.Classic)
                            </div>
                            <div class="col-sm-3 text-right">
                                @using (Html.BeginForm("Index", "Product", FormMethod.Get))
                                {                                    
                                    @Html.DropDownList("pagesize", new List<SelectListItem>() { new SelectListItem { Text = "12 Items", Value = "12" }, new SelectListItem { Text = "24 Items", Value = "24" }, new SelectListItem { Text = "60 Items", Value = "60" } }, new { @class = "pagesizelist" })
                                }
                            </div>


                        </div>
                    </div><!--features_items-->

                </div>
            }

        </div>
    </div>
</section>


