﻿@model IEnumerable<eCommerce.Domain.DTO.UserDTO>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            Username
        </th>
        <th>
            Email
        </th>
        <th>
            Address
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Role
        </th>
        <th></th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.Address</td>
            <td>@user.PhoneNumber</td>
            <td>@user.Role.Name</td>
            <td>
                @Html.ActionLink("Change", "UserDetails", "User", new { id = user.Id }, null) |
                <a href="#" data-id="@user.Id" class="delete-user text-danger">Delete</a>
            </td>
        </tr>
    }
</table>