﻿
@{
    ViewBag.Title = "ActionDenied";
}

<div class="jumbotron">
    <h1>Unable to delete the user.</h1>
    <h2>You must remove all of the related orders to proceed.</h2>
    <br />
    <h4><a href="@Url.Action("Index")">&lt; Back to user list</a></h4>
</div>

