﻿@model PagedList.IPagedList<eCommerce.Domain.DTO.UserDTO>
@using PagedList.Mvc;
@{
    ViewBag.Title = "UserList";
}

@using (Ajax.BeginForm("SearchByRole", "User", null, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "search",
    InsertionMode = InsertionMode.Replace
}, new { @class = "navbar-form navbar-right" }))
{
    @Html.DropDownList("Search", null, new { @class = "form-control", onchange = "$(this.form).submit();" })        
}

@using (Ajax.BeginForm("SearchByName", "User", null, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "search",
    InsertionMode = InsertionMode.Replace
}, new { @class = "navbar-form navbar-right" }))
{    
    @Html.TextBox("result", "", new { @class = "form-control", placeholder = "Search by name" })
    <input type="submit" value="Search" class="btn btn-default" />
}

<h2>List of users</h2>

<div id="search">
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Role
            </th>
            <th></th>
        </tr>

        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Address</td>
                <td>@user.PhoneNumber</td>
                <td>@user.Role.Name</td>
                <td>
                    @Html.ActionLink("Change", "UserDetails", "User", new {id = user.Id}, null) |
                    <a href="#" data-id="@user.Id" class="delete-user text-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new {page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter}),
        PagedListRenderOptions.Classic)

</div>

@Html.Hidden("url_delete_user", Url.Action("Remove", "User", new { Area = "Admin" }))
@*Modal delete user confirm*@
<div class="modal fade" id="modalDeleteUser" role="dialog" style="z-index: 99999" data-id="">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Confirmation</strong></h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete this user? This can't be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnConfirmDelete">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><strong>Cancel</strong></button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/scripts/Admin/delete_user.js"></script>
}
