﻿@model eCommerce.Domain.DTO.UserDTO
@{
    ViewBag.Title = "UserDetails";
}

<h2>User Details</h2>
<hr/>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.UserName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.UserName)
    </dd>
    <br/>
    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>
    <br />
    <dt>
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.PhoneNumber)
    </dd>
    <br />
    <dt>
        @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Address)
    </dd>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.PhoneNumber)
        @Html.HiddenFor(model => model.Address)
        @Html.HiddenFor(model => model.Password)        
        <dt>
            <label>Role</label>
        </dt>
        <dd>
            @Html.DropDownList("RoleId", null, new { @class = "form-control dropdown-list" })
        </dd>
        <br />
        <dt></dt>
        <dd>
            <input type="submit" value="Change" class="btn btn-success" />
        </dd>
    }
</dl>

