﻿@model IEnumerable<eCommerce.Web.Models.ProductModel>
<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        @{
                            var i = 0;
                            foreach (var item in Model.Take(3))
                            {
                                if (i == 0)
                                {
                                    <div class="item active">
                                        <div class="col-sm-5">
                                            <h1>Gift<span>4</span>Charity</h1>
                                            <h2>@item.Name</h2>
                                            <p>@item.Description</p>
                                            <button type="button" onclick="location.href='@Url.Action("Detail","Product",new { slug=item.UrlSlug})'" class="btn btn-default get">Details</button>
                                        </div>
                                        <div class="col-sm-7">
                                            @if (item.RepresentImg != null)
                                            {
                                                <img src="~/Images/Product/Represent/Landscape/@item.RepresentImg" class="girl img-responsive" alt="" />
                                            }
                                            else
                                            {
                                                <img src="~/Images/Product/Represent/Landscape/default.png" class="girl img-responsive" alt="" />
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="item">
                                        <div class="col-sm-5">
                                            <h1>Gift<span>4</span>Charity</h1>
                                            <h2>@item.Name</h2>
                                            <p>@item.Description</p>
                                            <button type="button" onclick="location.href='@Url.Action("Detail","Product",new { slug=item.UrlSlug})'" class="btn btn-default get">Details</button>
                                        </div>
                                        <div class="col-sm-7">
                                            @if (item.RepresentImg != null)
                                            {
                                                <img src="~/Images/Product/Represent/Landscape/@item.RepresentImg" class="girl img-responsive" alt="" />
                                            }
                                            else
                                            {
                                                <img src="~/Images/Product/Represent/Landscape/default.png" class="girl img-responsive" alt="" />
                                            }
                                        </div>
                                    </div>
                                }
                                i++;
                            }
                        }
                        
                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->
