﻿@{
    ViewBag.Title = "Error";
    Layout = "";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
Reference: https://w3layouts.com/ohh-under-construction-mobile-website-template/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>404 - Gift4Charity</title>
    <meta name="keywords" content="404 iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <link href="~/ErrorPages/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <!--start-wrap--->
    <div class="wrap">
        <!---start-header---->
        <div class="header">
            <div class="logo">
                <h1><a href="#">Gift4Charity</a></h1>
            </div>
        </div>
        <!---End-header---->
        <!--start-content------>
        <div class="content">
            <img src="~/ErrorPages/images/error-img.png" title="error" />
            <p><span><label>O</label>pps.....</span>You Requested the page that is no longer There.</p>
            <a href="/">Back To Home</a>
            <div class="copy-right">
                <p>
                    &#169 Gift4Charity - All rights Reserved | Designed by <a href="http://w3layouts.com/">W3Layouts</a>
                </p>
            </div>
        </div>
        <!--End-Cotent------>
    </div>
    <!--End-wrap--->
</body>
</html>



