﻿@model eCommerce.Web.Models.ProductViewModel
@using eCommerce.Web.Models
@using PagedList.Mvc
@{
    ViewBag.Title = "Home";
}
@section Scripts
{
    <script type="text/javascript">

        $(".pagesizelist").change(function (event) {
            $("#hidcategoryId").val($("#CategoryId").val());
            var form = $(event.target).parents("form");
            form.submit();
        });

        $(".category-collapse").click(function () {
            if ($('#1').hasClass('collapsing') || $('#2').hasClass('collapsing') || $('#3').hasClass('collapsing') || $('#4').hasClass('collapsing') || $('#5').hasClass('collapsing') || $('#6').hasClass('collapsing')) {
                return;
            }
            var element = $(this).children('span').children('i');
            var test = $('[class="glyphicon glyphicon-minus"]')
            if (element.hasClass('glyphicon-minus'))
                element.removeClass().addClass("glyphicon glyphicon-plus");
            else {
                test.removeClass().addClass("glyphicon glyphicon-plus");
                element.removeClass().addClass("glyphicon glyphicon-minus");
            }
        });

    </script>
    @if (!Request.Browser.IsMobileDevice)
    {
        <script>
            $(document).ready(function () {
                var nav = $("#left-bar");
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 350 && $(this).scrollTop() < $(document).height()) {
                        var scrollTop = $(window).scrollTop(),
                            elementOffset = nav.offset().top,
                            distance = -elementOffset + scrollTop + 50;
                        nav.css("padding-top", distance);
                    }

                    else {
                        nav.css("padding-top", 0);
                    }


                });
            });
        </script>
    }

}
@Html.Partial("_Slider", Model.Recommended)
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar" id="left-bar">
                    <h2>Category</h2>

                    @Html.Partial("_CategoryPartial", Model.Categories)
                    <div class="brands_products">
                        <!--brands_products-->
                        <h2>Order by</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                @if (ViewBag.SortOrder == "price_asc")
                                {
                                    <li><strong><a href="@Url.Action("Index","Home",new {sortOrder = "price_desc" })"> <span class="badge pull-right"><i class="glyphicon glyphicon-arrow-up"></i></span>Price</a></strong></li>
                                    <li><a href="@Url.Action("Index","Home",new {sortOrder = "name_desc" })">Name (Z-A)</a></li>
                                    <li><a href="@Url.Action("Index","Home",new {sortOrder = "arrival_desc" })">Arrival</a></li>
                                }
                                else if (ViewBag.SortOrder == "name_asc")
                                {
                                    <li><a href="@Url.Action("Index","Home",new {sortOrder = "price_desc" })">Price</a></li>
                                    <li><strong><a href="@Url.Action("Index","Home",new {sortOrder = "name_desc" })"> <span class="badge pull-right"><i class="glyphicon glyphicon-arrow-up"></i></span>Name (A-Z)</a></strong></li>
                                    <li><a href="@Url.Action("Index","Home",new {sortOrder = "arrival_desc" })">Arrival</a></li>
                                }
                                else if (ViewBag.SortOrder == "name_desc")
                                {
                                    <li><a href="@Url.Action("Index","Home",new {sortOrder = "price_desc" })">Price</a></li>
                                    <li><strong><a href="@Url.Action("Index","Home",new {sortOrder = "name_asc" })"> <span class="badge pull-right"><i class="glyphicon glyphicon-arrow-down"></i></span>Name (Z-A)</a></strong></li>
                                    <li><a href="@Url.Action("Index","Home",new {sortOrder = "arrival_desc" })">Arrival</a></li>
                                }
                                else if (ViewBag.SortOrder == "arrival_asc")
                                {
                                    <li><a href="@Url.Action("Index","Home",new {sortOrder = "price_desc" })">Price</a></li>
                                    <li><a href="@Url.Action("Index","Home",new {sortOrder = "name_desc" })">Name (Z-A)</a></li>
                                    <li><strong><a href="@Url.Action("Index","Home",new {sortOrder = "arrival_desc" })"> <span class="badge pull-right"><i class="glyphicon glyphicon-arrow-up"></i></span>Arrival</a></strong></li>
                                }
                                else if (ViewBag.SortOrder == "arrival_desc")
                                {
                                    <li><a href="@Url.Action("Index","Home",new {sortOrder = "price_desc" })">Price</a></li>
                                    <li><a href="@Url.Action("Index","Home",new {sortOrder = "name_desc" })">Name (Z-A)</a></li>
                                    <li><strong><a href="@Url.Action("Index","Home",new {sortOrder = "arrival_asc" })"> <span class="badge pull-right"><i class="glyphicon glyphicon-arrow-down"></i></span>Arrival</a></strong></li>
                                }
                                else
                                {
                                    <li><strong><a href="@Url.Action("Index","Home",new {sortOrder = "price_asc" })"> <span class="badge pull-right"><i class="glyphicon glyphicon-arrow-down"></i></span>Price</a></strong></li>
                                    <li><a href="@Url.Action("Index","Home",new {sortOrder = "name_desc" })">Name (Z-A)</a></li>
                                    <li><a href="@Url.Action("Index","Home",new {sortOrder = "arrival_desc" })">Arrival</a></li>
                                }
                            </ul>
                        </div>
                    </div><!--/brands_products-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items - Use _Item.cshtml -->
                    <h2 class="title text-center">Featured Items</h2>
                    @foreach (var product in Model.Products)
                    {
                        @Html.Partial("_Item", product)
                    }
                </div><!--features_items-->

                <div class="container " style="width: 100%">
                    <div class="col-sm-9">
                        @Html.PagedListPager(Model.Products,
                                        page => Url.Action("Index",
                                                        new { page, sortOrder = ViewBag.CurrentSort, pagesize = ViewBag.Pagesize }),
                                        PagedListRenderOptions.Classic)
                    </div>
                    <div class="col-sm-3 text-right">
                        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                        {
                            @Html.DropDownList("pagesize", new List<SelectListItem>() { new SelectListItem { Text = "12 Items", Value = "12" }, new SelectListItem { Text = "24 Items", Value = "24" }, new SelectListItem { Text = "60 Items", Value = "60" } }, new { @class = "pagesizelist" })
                        }
                    </div>


                </div>

                <div class="recommended_items">
                    <!--recommended_items-->
                    <h2 class="title text-center">recommended items</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            @{
                                var recommendedItems = Model.Recommended as List<ProductModel>;
                            }
                            @if (recommendedItems.Count != 0)
                            {
                                for (int i = 0; i < recommendedItems.Count / 3; i++)
                                {
                                    if (i == 0)
                                    {
                                        <div class="item active">
                                            @Html.Partial("_RecommendedItem", recommendedItems[3 * i])
                                            @Html.Partial("_RecommendedItem", recommendedItems[3 * i + 1])
                                            @Html.Partial("_RecommendedItem", recommendedItems[3 * i + 2])
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="item">
                                            @Html.Partial("_RecommendedItem", recommendedItems[3 * i])
                                            @Html.Partial("_RecommendedItem", recommendedItems[3 * i + 1])
                                            @Html.Partial("_RecommendedItem", recommendedItems[3 * i + 2])
                                        </div>
                                    }
                                }
                            }
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>
</section>
