﻿@{
    ViewBag.Title = "Search Result";
}
@using PagedList.Mvc
@model eCommerce.Web.Models.ProductViewModel
@{
    ViewBag.Title = "Index";
}

@section Scripts
{   <script>
        $(".pagesizelist").change(function (event) {
                $("#hidcategoryId").val($("#CategoryId").val());
                var form = $(event.target).parents("form");
                form.submit();
        });
    </script>

    @if (!Request.Browser.IsMobileDevice)
    {
        <script>
            $(document).ready(function () {
                var nav = $("#left-bar");
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 10 && $(this).scrollTop() < $(document).height() - 350) {
                        var scrollTop = $(window).scrollTop(),
                            elementOffset = nav.offset().top,
                            distance = -elementOffset + scrollTop + 50;
                        nav.css("padding-top", distance);
                    }

                    else {
                        nav.css("padding-top", 0);
                    }


                });
            });
        </script>
        
        <script>
            $(".category-collapse").click(function () {
                if ($('#1').hasClass('collapsing') || $('#2').hasClass('collapsing') || $('#3').hasClass('collapsing') || $('#4').hasClass('collapsing') || $('#5').hasClass('collapsing') || $('#6').hasClass('collapsing')) {
                    return;
                }
                var element = $(this).children('span').children('i');
                var test = $('[class="glyphicon glyphicon-minus"]')
                if (element.hasClass('glyphicon-minus'))
                    element.removeClass().addClass("glyphicon glyphicon-plus");
                else {
                    test.removeClass().addClass("glyphicon glyphicon-plus");
                    element.removeClass().addClass("glyphicon glyphicon-minus");
                }
            });
        </script>
    }
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar" id="left-bar">
                    <h2>Category</h2>
                    @Html.Partial("_CategoryPartial", Model.Categories)

                    <div class="brands_products">
                        <!--brands_products-->
                        <h2>Order by</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                @if (ViewBag.SortOrder == "price_asc")
                                {
                                    <li><strong><a href="@Url.Action("Search","Home",new {sortOrder = "price_desc",key=ViewBag.key })"> <span class="badge pull-right"><i class="glyphicon glyphicon-arrow-up"></i></span>Price</a></strong></li>
                                    <li><a href="@Url.Action("Search","Home",new {sortOrder = "name_desc",key=ViewBag.key })">Name (Z-A)</a></li>
                                    <li><a href="@Url.Action("Search","Home",new {sortOrder = "arrival_desc",key=ViewBag.key })">Arrival</a></li>
                                }
                                else if (ViewBag.SortOrder == "name_asc")
                                {
                                    <li><a href="@Url.Action("Search","Home",new {sortOrder = "price_desc",key=ViewBag.key })">Price</a></li>
                                    <li><strong><a href="@Url.Action("Search","Home",new {sortOrder = "name_desc",key=ViewBag.key })"> <span class="badge pull-right"><i class="glyphicon glyphicon-arrow-up"></i></span>Name (A-Z)</a></strong></li>
                                    <li><a href="@Url.Action("Search","Home",new {sortOrder = "arrival_desc" ,key=ViewBag.key})">Arrival</a></li>
                                }
                                else if (ViewBag.SortOrder == "name_desc")
                                {
                                    <li><a href="@Url.Action("Search","Home",new {sortOrder = "price_desc",key=ViewBag.key })">Price</a></li>
                                    <li><strong><a href="@Url.Action("Search","Home",new {sortOrder = "name_asc",key=ViewBag.key })"> <span class="badge pull-right"><i class="glyphicon glyphicon-arrow-down"></i></span>Name (Z-A)</a></strong></li>
                                    <li><a href="@Url.Action("Search","Home",new {sortOrder = "arrival_desc",key=ViewBag.key })">Arrival</a></li>
                                }
                                else if (ViewBag.SortOrder == "arrival_asc")
                                {
                                    <li><a href="@Url.Action("Search","Home",new {sortOrder = "price_desc",key=ViewBag.key })">Price</a></li>
                                    <li><a href="@Url.Action("Search","Home",new {sortOrder = "name_desc",key=ViewBag.key })">Name (Z-A)</a></li>
                                    <li><strong><a href="@Url.Action("Search","Home",new {sortOrder = "arrival_desc",key=ViewBag.key })"> <span class="badge pull-right"><i class="glyphicon glyphicon-arrow-up"></i></span>Arrival</a></strong></li>
                                }
                                else if (ViewBag.SortOrder == "arrival_desc")
                                {
                                    <li><a href="@Url.Action("Search","Home",new {sortOrder = "price_desc" ,key=ViewBag.key})">Price</a></li>
                                    <li><a href="@Url.Action("Search","Home",new {sortOrder = "name_desc" ,key=ViewBag.key})">Name (Z-A)</a></li>
                                    <li><strong><a href="@Url.Action("Search","Home",new {sortOrder = "arrival_asc",key=ViewBag.key })"> <span class="badge pull-right"><i class="glyphicon glyphicon-arrow-down"></i></span>Arrival</a></strong></li>
                                }
                                else
                                {
                                    <li><strong><a href="@Url.Action("Search","Home",new {sortOrder = "price_asc" ,key=ViewBag.key})"> <span class="badge pull-right"><i class="glyphicon glyphicon-arrow-down"></i></span>Price</a></strong></li>
                                    <li><a href="@Url.Action("Search","Home",new {sortOrder = "name_desc",key=ViewBag.key })">Name (Z-A)</a></li>
                                    <li><a href="@Url.Action("Search","Home",new {sortOrder = "arrival_desc",key=ViewBag.key })">Arrival</a></li>
                                }
                            </ul>
                        </div>
                    </div><!--/brands_products-->

                </div>
            </div>

            @if (Model.Products == null || Model.Products.Count == 0)
            {
                <div class="product-information">
                    <span><span>Your search returned no result...</span></span>
                </div>
            }
            else
            {
                <div class="col-sm-9 padding-right">
                    <div class="features_items">
                        <!--features_items-->
                        <h2 class="title text-center">Search Result</h2>
                        @foreach (var x in Model.Products)
                        {
                            @Html.Partial("_Item", x)
                        }
                    </div><!--features_items-->
                    <div class="container " style="width: 100%">
                        <div class="col-sm-9">
                            @Html.PagedListPager(Model.Products, page => Url.Action("Search",
                                                    new { page, sortOrder = ViewBag.CurrentSort, key = ViewBag.Key, pageSize = ViewBag.PageSize }),
                                                    PagedListRenderOptions.Classic)                    
                        </div>
                        <div class="col-sm-3 text-right">
                            @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                            {
                                @Html.Hidden("key", (object)ViewBag.Key)
                                @Html.DropDownList("pagesize", new List<SelectListItem>() { new SelectListItem { Text = "12 Items", Value = "12" }, new SelectListItem { Text = "24 Items", Value = "24" }, new SelectListItem { Text = "60 Items", Value = "60" } }, new { @class = "pagesizelist" })
                            }
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>



