﻿
@{
    ViewBag.Title = "ActionDenied";
}

<div class="jumbotron">
    <h1>Unable to delete the subcategory.</h1>
    <h2>You must remove all of its related products to proceed.</h2>
    <br />
    <h4><a href="@Url.Action("Index", "Category")">&lt; Back to category</a></h4>
</div>

