﻿@using PagedList.Mvc
@model PagedList.IPagedList<eCommerce.Domain.DTO.SubCategoryDTO>
@{
    ViewBag.Title = "Index";
}

<h2>Subcategory of @ViewBag.Category</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

    @foreach (var subCategory in Model)
    {
        <tr>
            <td>@subCategory.Name</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = subCategory.Id}) |                
                <a class="delete-sub text-danger" data-id="@subCategory.Id" data-category="@subCategory.CategoryId" href="#">Delete</a>
            </td>
        </tr>
    }
</table>

@Html.Hidden("url", Url.Action("Delete"))
@*Modal delete subcategory confirm*@
<div class="modal fade" id="modalDeleteSub" role="dialog" style="z-index: 99999" data-id="">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Confirmation</strong></h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete this subcategory? This can't be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnConfirmDelete">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><strong>Cancel</strong></button>
            </div>
        </div>
    </div>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
    PagedListRenderOptions.Classic)

@section scripts {
    <script src="~/scripts/Admin/delete_subcategory.js"></script>
}
